ion-card {
  margin: 16px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
}

.error-message {
  display: block;
  padding: 8px 16px;
  font-size: 12px;
}

.mt-3 {
  margin-top: 16px;
}




